pyrfume==0.18.4
pandas==2.0.3
numpy==1.25.1
rdkit==2022.9.5
deepchem==2.7.2.dev20230719055234
torch==2.0.1
torch-cluster==1.6.3
torch-geometric==2.4.0
torch-scatter==2.1.1
torch-sparse==0.6.17
torch-spline-conv==1.2.2
torchaudio==2.0.2
torchvision==0.15.2
dgllife==0.3.2
pytest==7.4.0
ipykernel==6.24.0
scikit-multilearn==0.2.0
